#cat_flex {
    display: flex;
    flex-direction: column;
}
#cat {
    width: 100px;
    height: 100px;
}
.cat_number {
    width: 100px;
    background-color: gray;
}
.cat_number_gold {
    width: 100px;
    border: dotted gold;
}
#cat_card{
    width: 100px;
    border: solid 5px pink;
}