#mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
    height: 1000px;
}

#box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 800px;
    height: 500px;
}
#a {
    background-color: darkgreen;
    flex-basis: 10%;
}
#b {
    background-color: rgb(26, 110, 26);
    flex-basis: 30%;
}
#c {
    background-color: rgb(26, 41, 26);
    flex-basis: 35%;
}
#d {
    background-color: rgb(25, 31, 25);
    flex-basis: 10%;
}
#e {
    background-color: rgb(0, 0, 0);
    flex-basis: 15%;
}