#dice_1 {
    width: 100px;
    height: 100px;
}
#dice_2{
    width: 100px;
    height: 100px;
}
#dice_3{
    width: 100px;
    height: 100px;
}
#dice_4{
    width: 100px;
    height: 100px;
}
#dice_5{
    width: 100px;
    height: 100px;
}
#dice_6{
    width: 100px;
    height: 100px;
}